<div class="product">
		<div class="cart container_cart">
			<a href="{{path('showBlog',{'id' : blog.id,'slug' :blog.title|slug('-')|lower })}}" class="cnt_image_date_bloc" target="_blank">
				<div class="container_image_blog">
					<img 
					 {% if blog.image is not same as (null )%}
                        src="{{ asset('images/'~blog.image)}}"
                     {% else %}
                        src="/images/images_default/default_logo.png"
                     {% endif %}  
					 alt="{{blog.title}}">
				</div>
                <div class="date_blog">
                    <p>{{ blog.createdAt|date('y') }}</p>
                    <p> {{ setMonth(blog.createdAt|date('m')) }}</p>
                    <p>{{ blog.createdAt|date('d') }}</p>
                   
                </div>
			</a>
            <h1 class="title_blog">{{ cutWorld(blog.title,50) }}</h1>
            <p class="_category">#{{blog.category}}</p>
            <p class="_description_blog">{{ cutWorld(blog.resume,100) }}
			<div class="detail">
				<div class="product-rating">
					{{ my_vote_twig(blog.votes) }}
                    <div> 
                      <span class="fa fa-comment" style="font-size: 20px;"></span>  {{blog.votes|length }} commentaires
                    </div>
				</div>
                <a class="container_preview_images_boutique" href="{{path('shop',{'id': blog.boutique.id,'type' : blog.boutique.type})}}" target="_blank">
                    <img src="{{ asset('images/'~blog.boutique.logo) }}" />
                    {% if blog.boutique.isActiveNow %}
                        <div class="active_shop"></div>
                    {% endif %}
                </a>
			</div>
		</div>
</div>