<div class="col-md-4 col-xs-6">
    <div class="product">
        <a href="{{path('detail',{'id' : article.id})}}">
            <div class="product-img">
                <img src="{{asset('images/'~article.images[0].name)}}" alt="">
                <div id="_action_for_cart" class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                    <button class="add-to-compare"><i class="fa fa-shopping-cart"></i></button>
                    <button class="quick-view"><i class="fa fa-eye"></i></button>
                </div>
            </div>
        </a>
        <div class="product-body">
            <div class="product-rating">
                {{ my_vote_twig(article.votes) }}
            </div>
            <p class="product-category">{{article.category}}</p>
            <h3 class="product-name"><a href="#">{{article.name}}</a></h3>
            <h4 class="product-price">{{article.price| number_format(0,',',' ') }}&nbspAr</h4>
        </div>
    </div>
</div>