	<footer id="footer">
            <!-- top footer -->
            {# include "boutique/dependancies/newsletter.html.twig"  #}
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<div class="footer">
							  {% if boutique %}
								<h3 class="footer-title">{{boutique.name}}</h3>
							 
							
								<p>{{ boutique.apropos }}</p>
								<ul class="footer-links">
									<li><i class="fa fa-map-marker"></i>Visitez notre  <a href="{{ boutique.address }}" target="_blank"style="color:#46b1e6">site web</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{ boutique.contact }}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{ boutique.mail}}</a></li>
								</ul>
							  {% endif %}
							</div>
						</div>
						<div class="col-md-4 col-xs-12">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
								   {% if boutique.id is defined %}
									<li><a href="{{ path('condition', {'id': boutique.id })}}" target="blank" class="condition_genral_d'utilisation">Condition générale {{ boutique.name}}</a></li>
									{% endif %}
									{% if boutique.link is defined %}
										<li>Suivez nous sur notre page <a href="{{boutique.link}}" target="_blank" style="color:#46b1e6">facebook</a></li>
									{% endif %}
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-xs-12">
							<div class="footer">
							    
								<h3 class="footer-title">Nous contacté</h3>
								{# <ul class="footer-links">
									<form>
									  <label for="name">Nom</label>
									  <input type="text" name ="name" required class="form-control">
									  <label for="adresse_mail">Mail</label>
									  <input id="adresse_mail" class="form-control" name="mail" type="mail" required>
									  <label for="private_mail">Description</label>
									  <textarea name="private_mail" id="private_mail" class="form-control" required></textarea>
									<div style="display: flex;  justify-content: end;margin: 5px;">
									  <button class="send_mail btn btn-primary">Envoyer</button>
									</div>
									</form>
									{#
									<li><a href="{{ path('show_cart',{'type':'panier'})}}">View Cart</a></li>
									<li><a href="{{ path('show_cart',{'type':'wish'})}}">Wishlist</a></li>
								
								</ul> #}
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			</div>
			<!-- /bottom footer -->
		</footer>