{# <nav class="navbar navbar-expand navbar-light topbar static-top shadow" style="background: #202340; margin-bottom:2px !important;height: 3rem">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
	<ul class="nav navbar-nav" id="menulistshop">
        <li class="mode" >
					<a href="{{ path('index')}}">Accueil</a>
				</li>
				<li class="mode">
					<a 
					 href="{{ path('shop')}}"
					  {%
					 if menu is same as ("g_marchande") %}
						class = "menu_selected"
					{% endif %}
					>Galerie Marchande</a>
				</li>
				<li class='mode js-category'>
					<a href="#" {%
					 if menu is same as ("Habillement") or menu is same as ("beaute_et_bien_etre") or menu is same as ("accessoires") %}
						class = "menu_selected"
					{% endif %}
					>
					 Mode
					  </a>
					<ul class="submenu">
						<li>
							<a href="{{ path('shop',{'type':'Habillement'})}}"
								{% if menu is same as ("Habillement") %}
									class = "menu_selected"
								{% endif %}
							>Habillement</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'beaute-et-bien-etre'})}}"
							 {% if menu is same as ("beaute-et-bien-etre") %}
									class = "menu_selected"
							 {% endif %}
							>Beauté Bien-être</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'accessoires'})}}"
							  {% if menu is same as ("accessoires") %}
									class = "menu_selected"
							 {% endif %}
							>Accessoires</a>
						</li>
						
						<!--li>
							<a href="artmalagasy.html">Art Malagasy</a>
						</li-->
					</ul>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'high-tech'})}}"
					  {% if menu is same as ("High-tech") %}
									class = "menu_selected"
					 {% endif %}
					>High-tech</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Maison'})}}" 
					 {% if menu is same as ("Maison") %}
									class = "menu_selected"
					{% endif %}
					>Maison</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Services'})}}"
					 {% if menu is same as ("Services") %}
									class = "menu_selected"
					{% endif %}
					>Services</a>
				</li>

				<li class='ConnecterMembre'>
				
				</li>
				
      </ul>
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
          <form class="form-inline mr-auto w-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> #}

    {#
      <!-- Nav Item - Messages -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter">7</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            Message Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
              <div class="small text-gray-500">Emily Fowler · 58m</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
              <div class="status-indicator"></div>
            </div>
            <div>
              <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
              <div class="small text-gray-500">Jae Chun · 1d</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
              <div class="status-indicator bg-warning"></div>
            </div>
            <div>
              <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
              <div class="small text-gray-500">Morgan Alvarez · 2d</div>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="dropdown-list-image mr-3">
              <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
              <div class="status-indicator bg-success"></div>
            </div>
            <div>
              <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
              <div class="small text-gray-500">Chicken the Dog · 2w</div>
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
        </div>
      </li>
   #}
      {# <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{app.user.name}}   {{app.user.firstname}}</span>
          <img class="img-profile rounded-circle" src="{{ asset('images/'~app.user.avatar ) }}">
        </a> #}
        <!-- Dropdown - User Information -->
        {# <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{{ path('profil',{'id' : app.user.id,'slug' : slugify(app.user.name) ~"-"~slugify(app.user.firstname)~".html" })}}">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profil
          </a>
    {% if boutique.type is not same as('SuperAdmin') %}
          <a class="dropdown-item" href="{{ path('parametre_option')}}">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Parametres
          </a>
    {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('logout')}}" >
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Déconnexion
          </a>
        </div>
      </li>

    </ul>

  </nav> #}

<nav id="GrandEcran1"class="navbar" style="background: #202340; margin-bottom:2px !important">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {# <a class="navbar-brand" href="#">Brand</a> #}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="menulistshop">
        <li class="mode" >
					<a href="{{ path('index')}}">Accueil</a>
				</li>
				<li class="mode">
					<a 
					 href="{{ path('shop')}}"
					  {%
					 if menu is same as ("g_marchande") %}
						class = "menu_selected"
					{% endif %}
					>Galerie Marchande</a>
				</li>
				<li class='mode js-category'>
					<a href="#" {%
					 if menu is same as ("Habillement") or menu is same as ("beaute_et_bien_etre") or menu is same as ("accessoires") %}
						class = "menu_selected"
					{% endif %}
					>
					 Mode
					  </a>
					<ul class="submenu">
						<li>
							<a href="{{ path('shop',{'type':'Habillement'})}}"
								{% if menu is same as ("Habillement") %}
									class = "menu_selected"
								{% endif %}
							>Habillement</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'beaute-et-bien-etre'})}}"
							 {% if menu is same as ("beaute-et-bien-etre") %}
									class = "menu_selected"
							 {% endif %}
							>Beauté Bien-être</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'accessoires'})}}"
							  {% if menu is same as ("accessoires") %}
									class = "menu_selected"
							 {% endif %}
							>Accessoires</a>
						</li>
						
						<!--li>
							<a href="artmalagasy.html">Art Malagasy</a>
						</li-->
					</ul>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'high-tech'})}}"
					  {% if menu is same as ("High-tech") %}
									class = "menu_selected"
					 {% endif %}
					>High-tech</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Maison'})}}" 
					 {% if menu is same as ("Maison") %}
									class = "menu_selected"
					{% endif %}
					>Maison</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Services'})}}"
					 {% if menu is same as ("Services") %}
									class = "menu_selected"
					{% endif %}
					>Services</a>
				</li>

				<li class='ConnecterMembre'>
				
				</li>
				
      </ul>
      <ul class="nav navbar-nav navbar-right">
       	 <li>
		 	{% if app.user %}
			 <a href="#" id="" class="_my_message_" style="color: white !important;">
							
								<i class="fa fa-envelope"></i>
								<span>Message</span>
								{# <div class="qty qtymess" id="my_nbr_message">
									0
								</div> #}
			 </a>
			 {% endif %}
			</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{# ddddddddddddd #}

{# 

<nav class="navbar navbar-default" id="GrandEcran1" style="background: #1875bc; margin-bottom:0px !important">

	<div class="container-fluid">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Brand</a-->
    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

			<ul class="nav navbar-nav" id="menulistshop" style="margin-top: 3px;">
				<li class="mode">
					<a href="{{ path('index')}}">Accueil</a>
				</li>
				<li class="mode">
					<a 
					 href="{{ path('shop')}}"
					  {%
					 if menu is same as ("g_marchande") %}
						class = "menu_selected"
					{% endif %}
					>Galerie Marchande</a>
				</li>
				<li class='mode js-category'>
					<a href="#" {%
					 if menu is same as ("Habillement") or menu is same as ("beaute_et_bien_etre") or menu is same as ("accessoires") %}
						class = "menu_selected"
					{% endif %}
					>
					 Mode
					  </a>
					<ul class="submenu">
						<li>
							<a href="{{ path('shop',{'type':'Habillement'})}}"
								{% if menu is same as ("Habillement") %}
									class = "menu_selected"
								{% endif %}
							>Habillement</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'beaute-et-bien-etre'})}}"
							 {% if menu is same as ("beaute-et-bien-etre") %}
									class = "menu_selected"
							 {% endif %}
							>Beauté Bien-être</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'accessoires'})}}"
							  {% if menu is same as ("accessoires") %}
									class = "menu_selected"
							 {% endif %}
							>Accessoires</a>
						</li>
						
						<!--li>
							<a href="artmalagasy.html">Art Malagasy</a>
						</li-->
					</ul>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'high-tech'})}}"
					  {% if menu is same as ("High-tech") %}
									class = "menu_selected"
					 {% endif %}
					>High-tech</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Maison'})}}" 
					 {% if menu is same as ("Maison") %}
									class = "menu_selected"
					{% endif %}
					>Maison</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Services'})}}"
					 {% if menu is same as ("Services") %}
									class = "menu_selected"
					{% endif %}
					>Services</a>
				</li>

				<li class='ConnecterMembre'>
				
				</li>
				
			</ul>

			<ul class="mobile-header--right">
			  
			</ul>
				
		</div>
	 </div>
		<!-- /.navbar-collapse -->
		<!-- /.container-fluid -->
	</nav> #}
