<nav class="navbar navbar-default" id="GrandEcran1" style="background: #1875bc; margin-bottom:0px !important">

	<div class="container-fluid">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Brand</a-->
    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

			<ul class="nav navbar-nav" id="menulistshop" style="margin-top: 3px;">
				<li class="mode">
					<a href="{{ path('index')}}">Accueil</a>
				</li>
				<li class="mode">
					<a 
					 href="{{ path('shop')}}"
					  {%
					 if menu is same as ("g_marchande") %}
						class = "menu_selected"
					{% endif %}
					>Galerie Marchande</a>
				</li>
				<li class='mode js-category'>
					<a href="#" {%
					 if menu is same as ("habillement") or menu is same as ("beaute_et_bien_etre") or menu is same as ("accessoires") %}
						class = "menu_selected"
					{% endif %}
					>
					 Mode
					  </a>
					<ul class="submenu">
						<li>
							<a href="{{ path('shop',{'type':'habillement','id':-1})}}"
								{% if menu is same as ("habillement") %}
									class = "menu_selected"
								{% endif %}
							>Habillement</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'beaute_bien_etre','id': -1})}}"
							 {% if menu is same as ("beaute_et_bien_etre") %}
									class = "menu_selected"
							 {% endif %}
							>Beauté Bien-être</a>
						</li>
						<li>
							<a href="{{ path('shop',{'type':'accessoires','id':-1})}}"
							  {% if menu is same as ("accessoires") %}
									class = "menu_selected"
							 {% endif %}
							>Accessoires</a>
						</li>
						
						<!--li>
							<a href="artmalagasy.html">Art Malagasy</a>
						</li-->
					</ul>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'high-tech','id':-1})}}"
					  {% if menu is same as ("high-tech") %}
									class = "menu_selected"
					 {% endif %}
					>High-tech</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'Maison','id':-1})}}" 
					 {% if menu is same as ("Maison") %}
									class = "menu_selected"
					{% endif %}
					>Maison</a>
				</li>
				<li class="mode">
					<a href="{{ path('shop',{'type':'services','id':-1})}}"
					 {% if menu is same as ("services") %}
									class = "menu_selected"
					{% endif %}
					>Services</a>
				</li>

				<li class='ConnecterMembre'></li>
				
			</ul>
			{#
				<ul>
				<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="header-search">
							<form method="Get" action="{{path('list_product')}}">
								<input class="input" name="q" placeholder="Recherche dans {{ boutique.name}}">
								<button class="search-btn">Search</button>
							</form>
						</div>
					</div>
				</ul>
			#}
		</div>
	 </div>
		<!-- /.navbar-collapse -->
		<!-- /.container-fluid -->
	</nav>
