	<footer id="footer">
            <!-- top footer -->
            {# include "boutique/dependancies/newsletter.html.twig"  #}
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<div class="footer">
								<h3 class="footer-title">Apropos de nous</h3>
							  {% if boutique %}
							
								<p>{{ boutique.apropos }}</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>{{ boutique.address }}</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{ boutique.contact }}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{ boutique.mail}}</a></li>
								</ul>
							  {% endif %}
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-4 col-xs-12">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
								   {% if boutique.id is defined %}
									<li><a href="{{ path('condition', {'id': boutique.id })}}" target="blank" class="condition_genral_d'utilisation">Condition générale {{ boutique.name}}</a></li>
									{% endif %}
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-xs-12">
							<div class="footer">
								<h3 class="footer-title">Utiles</h3>
								<ul class="footer-links">
									<li> Siège :  </li>
									<li> Service en ligne  </li>
									{% if boutique.link is defined %}
										<li>Suivie nous sur notre page <a href="{{boutique.link}}" target="_blank" style="color:#46b1e6">facebook</a></li>
									{% endif %}
									{#
									<li><a href="{{ path('show_cart',{'type':'panier'})}}">View Cart</a></li>
									<li><a href="{{ path('show_cart',{'type':'wish'})}}">Wishlist</a></li>
									#}
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			</div>
			<!-- /bottom footer -->
		</footer>