<header>
    <!-- TOP HEADER -->
    <!--div id="top-header">
        <div class="container">
            <ul class="header-cordinate">
                <li><a href="#"><i class="fa fa-phone"></i>  {{ boutique.contact}}</a></li>
                <li style="margin-left: 11px;margin-right: 11px;"><a href="#"><i class="fa fa-envelope-o"></i>  {{ boutique.mail}}</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i>  {{ boutique.address}}</a></li>
            </ul>
        </div>
    </div-->
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
     <div id='list_shop'>
     </div>
    <div id="header">
        <!-- container -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="header-logo">
                        <a href="{{ path('shop',{ 'type':boutique.type, 'id': boutique.id })}}" class="logo">
                            <img  src="{{asset('images/'~boutique.logo)}}" alt="">
                        </a>
                      <span class="shop_name" style="color:white !important"> {{boutique.name}} <br> 
                        <i class="fa fa-phone" style="color:#df2121"></i> 
                        <span class="contact_shop">{{boutique.contact}}</span></span>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                    {#
                    <div class="header-search">
                        <form method="Get" action="{{path('list_product')}}">
                            <input class="input" name="q" placeholder="Recherche dans {{ boutique.name}}">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                    #}
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                 {% include "boutique/dependancies/_actionUser.html.twig"%}
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <div class="inother-ajax">
        <div class="div-inother"></div>
    </div>
    <!-- /MAIN HEADER -->
</header>