{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/bootstrap3.3.css')}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ asset('css/inscription.css')}}"/>
{% endblock %}

{% block body %}
	<div class="container_inscription">
	
		     <div id="container_message">
			    <div class="_container_message">
					<h4 class="message"></h4>
					<div class="container_btn">
						<a href="{{path('index')}}">Accueil</a><a href="{{path('shop')}}">Galerie Marchande</a>
					</div>
				</div>
				 
			 </div>
			
			<div class="style_inscription">
				<h2 align="center">Inscription</h2>
				<p class="enregistrer" style="width: 100%;display: inline-block;text-align: center;font-weight: bold;box-shadow: 0 0 5px rgb(255, 255, 255);"></p>
				{{form_start(forms,{'attr':{'class':'FormulaireMembre'}})}}
				<!-- Inscription -->

				<div id="ProfilShow"></div>

				{{form_widget(forms.name)}}
				{{form_widget(forms.firstname)}}
				{# {{form_row(forms.birthday)}} #}
				{{form_widget(forms.genre)}}
				{{form_widget(forms.email)}}
				{{form_widget(forms.password)}}

				<p><input class="form-control accept" type="checkbox" name="" required>
					<span>En inscrivant sur cet site, vous accepter nos
						<a href="/condition/1" style="color: darkslateblue;">condition d"utilisation</a>
					</span>
				</p>
				{#<p style="color: black !important;">
					<span class="number1"></span>
					<span class="number2"></span>
					<span class="number3"></span>
					<span class="number4"></span>
					=
					<input type="text" name="resultat" class="resultat">
				</p>
				#}
			</br>
			{#{{form_row(forms.captcha)}}#}
			<div class="h-captcha" data-sitekey="975034ea-14b3-4cca-b49c-8f0523bef3d3"></div>
			<div class="conatiner_btn_submit">
				<button id="bouton_inscr" type="submit">
					Enregistrer
				</button>
			</div>
			<p id='mail_existe'></p>
			{{form_end(forms)}}
			<!--controlle en javascript de l'inscription-->
	
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('toastr/toastr.min.js') }} "></script>
	<script src="https://hcaptcha.com/1/api.js" async defer></script>
	<script type="text/javascript" src="{{ asset('js/inscription.js') }}"></script>
	
{% endblock %}
