{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <h1>Vote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vote.id }}</td>
            </tr>
            <tr>
                <th>Nbr_vote</th>
                <td>{{ vote.nbrVote }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ vote.images }}</td>
            </tr>
            <tr>
                <th>Placement</th>
                <td>{{ vote.placement }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ vote.createAt ? vote.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vote.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vote_index') }}">back to list</a>

    <a href="{{ path('vote_edit', {'id': vote.id}) }}">edit</a>

    {{ include('vote/_delete_form.html.twig') }}
{% endblock %}
