{% for menu  in menus   %}
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#{{ menu['category']}}" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>{{ menu['category']}}</span>
      </a>
      <div id="{{ menu['category']}}" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          {% for sous_menu in menu['sous_category']%}
          <a class="collapse-item" href="{{path(role,{'category':slugify(sous_menu)})}}">{{ sous_menu }}</a>
          {% endfor %}
        </div>
      </div>
</li>
{% endfor %}