<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bricolage" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Bricolage</span>
      </a>
      <div id="bricolage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'outillages'})}}">Outillages</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#professionnel" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Professionnel</span>
      </a>
      <div id="professionnel" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'outillages_pro'})}}">Outillages Pro</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#jardinage" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Jardinage</span>
      </a>
      <div id="jardinage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'outils_de_jardin'})}}">Outils de jardin</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#maison" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Maison</span>
      </a>
      <div id="maison" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'telephone'})}}">Téléphone</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'accessoire'})}}">Accessoire</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'accessoire'})}}">Accessoire</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#informatique" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Informatique</span>
      </a>
      <div id="informatique" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'materiels_informatique'})}}">Matériels informatique</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'diagnostiques'})}}">Diagnostiques</a>
        </div>
      </div>
</li><li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#images_et_son" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Images et son</span>
      </a>
      <div id="images_et_son" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'tv'})}}">TV</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'video_projecteur'})}}">Video projecteur</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'son'})}}">Son</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'photos_et_camera'})}}">Photos et caméra</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'tous_les_accessoire'})}}">Tous les accessoires</a>
        </div>
      </div>
</li>
{#<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Système domotique</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'telephone'})}}">Téléphone</a>
          <a class="collapse-item" href="{{path('article_liste')}}">Accessoires</a>
        </div>
      </div>
 </li>#}
<li class="nav-item">
        <a class="nav-link" href="{{path('es_article_list',{'category':'systeme_domotique'})}}">
          <i class="fas fa-fw fa-fw fa-folder"></i>
          <span>Système domotique</span></a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="{{path('es_article_list',{'category':'impression'})}}">
          <i class="fas fa-fw fa-fw fa-folder"></i>
          <span>Impression</span></a>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#habillement" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Habillement</span>
      </a>
      <div id="habillement" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'habillement_homme'})}}">Habillement homme</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'habillement_femme'})}}">Habillement femme</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'habillement enfant'})}}">Habillement enfant</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'habillement bébé'})}}">Habillement bébé</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accessoire" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Accessoire</span>
      </a>
      <div id="accessoire" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'accessoire_cheveux'})}}">Accessoire des cheveux</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'bijoux et montre'})}}">Bijoux et montre</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'sacs_et_maroquineries'})}}">Sacs et maroquineries</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'fashion_plus'})}}">Fashion +</a>
        </div>
      </div>
</li>
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bbe" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Beauté et bien-être</span>
      </a>
      <div id="bbe" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'parfums'})}}">Parfums</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'beaute_bio'})}}">Beaute bio</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'cosmetique'})}}">Cosmetique</a>
        </div>
      </div>
</li>
{#<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#art_malagasy" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Art malagasy</span>
      </a>
      <div id="art_malagasy" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('es_article_list',{'category':'bijoux_et_pierre_precieuse'})}}">Bijoux et pierre précieuse</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'accessoire_et_decoration'})}}">Accessoire et décoration</a>
          <a class="collapse-item" href="{{path('es_article_list',{'category':'soie_raphie_sisal_broderie'})}}">Soie, Raphia, Sisal <br>et Broderies</a>
        </div>
      </div>
</li>#}
 <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseboutique" aria-expanded="true" aria-controls="collapseheader">
        <i class="fas fa-fw fa-folder"></i>
        <span>Boutique</span>
      </a>
      <div id="collapseboutique" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('admin_registration')}}">Ajout</a>
          <a class="collapse-item" href="{{ path('list_boutique') }}">Liste</a>
        </div>
      </div>
    </li>
{#<li class="nav-item">
      <a class="nav-link" href="{{ path('condition')}}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Condition d'utilisation</span></a>
</li>
#}