        <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Produits</span>
              </a>
              <div id="product" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{{path('list-articles')}}">Liste</a>
                  <a class="collapse-item" href="{{path('addBlog')}}">Ajout</a>
                </div>
        </li>
        <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#blogs" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Blog</span>
              </a>
              <div id="blogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{{path('listBlog')}}">Liste</a>
                  <a class="collapse-item" href="{{path('addBlog')}}">Ajout</a>
                </div>
        </li>

{% if boutique.getDetailOffer is not same as ('Gratuit') %}

<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#formation_video" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Video</span>
      </a>
      <div id="formation_video" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('list_video')}}">Liste</a>
          <a class="collapse-item" href="{{path('add_video')}}">Ajout</a>
        </div>
</li>   
<li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#formation" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Formation </span>
      </a>
      <div id="formation" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{{path('list_formation')}}">Liste</a>
          <a class="collapse-item" href="{{path('add_formation')}}">Ajout</a>
        </div>
</li> 
{% endif %}
<li class="nav-item">
        <a class="nav-link" href="{{ path('vote_list') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Vote</span></a>
</li>
<hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
      Gestion categories
    </div>
    <li class="nav-item">
            <a class="nav-link" href="{{ path('category',{'type':'product'}) }}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Produits</span></a>
    </li>
       <li class="nav-item">
            <a class="nav-link" href="{{ path('category',{'type':'blog'}) }}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Blog</span></a>
    </li>
       <li class="nav-item">
            <a class="nav-link" href="{{ path('category',{'type':'video'}) }}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Videos</span></a>
    </li>
       <li class="nav-item">
            <a class="nav-link" href="{{ path('category',{'type':'formation'}) }}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Formation</span></a>
    </li>
<hr class="sidebar-divider">
  <div class="sidebar-heading">
      utils
  </div>
<li class="nav-item">
      <a class="nav-link" href="{{ path('social_network_index')}}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Lien sur les réseaux sociaux</span></a>
</li>
<li class="nav-item">
      <a class="nav-link" href="{{ path('reference')}}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Références</span></a>
</li>


