{% extends 'base.html.twig' %}

{% block title %}UserCondition{% endblock %}

{% block body %}
    <h1>UserCondition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_condition.id }}</td>
            </tr>
            <tr>
                <th>Descriptions</th>
                <td>{{ user_condition.descriptions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_condition_index') }}">back to list</a>

    <a href="{{ path('user_condition_edit', {'id': user_condition.id}) }}">edit</a>

    {{ include('user_condition/_delete_form.html.twig') }}
{% endblock %}
