{% extends 'base.html.twig' %}

{% block title %}Reference index{% endblock %}

{% block body %}
    <h1>Reference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Images</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reference in references %}
            <tr>
                <td>{{ reference.id }}</td>
                <td>{{ reference.images }}</td>
                <td>{{ reference.description }}</td>
                <td>
                    <a href="{{ path('reference_show', {'id': reference.id}) }}">show</a>
                    <a href="{{ path('reference_edit', {'id': reference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reference_new') }}">Create new</a>
{% endblock %}
