{% extends 'base.html.twig' %}

{% block title %}
	{% if boutique %}
		{{ boutique.name }}
	{% else %}
		Pas de resultat :(
	{% endif %}
{% endblock %}

{% block meta%}{% endblock %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<link
	href="{{ asset('css/bootstrap3.3.css')}}" rel="stylesheet" type="text/css">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

	<!-- nouislider -->
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>

	<!-- Font Awesome Icon -->
	<link
	rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
	{# link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}" #}
	<link type="text/css" rel="stylesheet" href="{{ asset('css/jssor.slider.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
	<link rel="icon" type="image/png" href="{{asset('images/'~boutique.logo)}}">
{% endblock %}
{% block body %}

	{% include 'boutique/dependancies/headershop.html.twig' %}

	<div class='image_header'>
		{% include 'boutique/dependancies/bannierboutique.html.twig' %}
	</div>

	{% if  boutique   %}
		<div>
			<div class="container-fluid">
				<div class="boutique_container">
				   
					<div class="menu_v ">
					    <div class="title_c_and_menu">
						<h3 class="title_C" style="display:table-cell">Filtres
						</h3>
						 <span class="close_menu js-hide-menu">Fermer</span>
						</div>
						<input class="shop_type" type="hidden" name="shop_type" value="{{ type }}">
						{% if boutique %}
							<form action="" class="aside" style="margin-top: 13px;">
								<input type="hidden" name="shop_id" value="{{ boutique.id }}">
								{{ filtreCategory | raw }}
								{# {{ categorie(boutique) }} #}
							</form>
						{% endif %}

					</div>
					<div class="article_boutique">
						<div class="">
						    <div  style="display: flex;justify-content: center;">
							 <button class="shop_menu js-show-menu">Menu</button>
							<h3 class="title_C" style="display:table-cell">Nos articles</h3>
							</div>
							<div class="row js_list_article">
								{% if articles %}
									{% include "boutique/dependancies/_list.html.twig" with {'articles': articles} only %}
								{% else %}
									Pas de resultat
								{% endif %}
							</div>
						</div>
					</div>

					{#<div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
					
											<h3 class="title_C" style="display:table-cell">Video</h3>
											<div class="pub_video_pub">
												<iframe width="100%" height="333px" src="https://www.youtube.com/embed/-YN612DOzno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
					
										</div>#}
				</div>
				{# 
				
							#}
				{% if newArticles |length > 0%}
				<div id="container_social_network">
					<h3 class="title_C" style="display:table-cell" text-align="center">Nos séléctions</h3>
				</div>
					{% include "boutique/dependancies/slide_shop.html.twig" with {'articles' : newArticles} %}	
				{% endif %}

			</div>

			{% if boutique.socialNetworks|length > 0 %}
			<div id="container_social_network">
				<h3 class="title_C" style="display:table-cell">Réseau sociaux
				</h3>
				<div class="container_reference">
					{% if boutique.shopReferences is defined  %}
						{% for socialnetwork in boutique.socialNetworks %}

							<div id="_reference">
								<div id="_container_images">
									<img src={{ asset('images/'~ socialnetwork.images)}} alt="{{ socialnetwork.description }}"/>
								</div>
								<p id="container_description_reference">{{  socialnetwork.description }}
									<a href="{{ socialnetwork.link }}" target="_blank">{{ socialnetwork.nameLink }}</a>
								</p>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endif %}
			{% if boutique.shopReferences|length > 0 %}
			<div id="container_reference">
				<h3 class="title_C" style="display:table-cell">Nos References
				</h3>
				<div class="container_reference">
					{% if boutique.shopReferences is defined  %}
						{% for reference in boutique.shopReferences %}

							<div id="_reference">
								<div id="_container_images">
									<img src={{ asset('images/'~reference.images)}} alt="{{ reference.description }}"/>
								</div>
								<p id="container_description_reference">{{  reference.description }}
								</p>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
	{% else %}
		<p>La boutique n'existe pas</p>
	{% endif %}
	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}
	{% include 'boutique/dependancies/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/slick.min.js') }}"></script>
	<script src=" {{ asset('js/nouislider.min.js') }}"></script>
	<script src="{{ asset('js/jquery.zoom.min.js') }}"></script>
	<script src="{{ asset('js/index.js') }}"></script>
	<script src="{{ asset('js/jssor.slider.min.js') }}"></script>
	<script src="{{ asset('js/jssor.config.js') }}"></script>
	<script src="{{ asset('js/cart.js') }}"></script>
	<script src="{{ asset('js/connexion.js') }}"></script>
	<script src="{{ asset('js/shop.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
