{% extends 'base.html.twig' %}

{% block title %}
	{% if boutique %}
		{{ boutique.name }}
	{% else %}
		Pas de resultat :(
	{% endif %}
{% endblock %}

{% block meta%}{% endblock %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link
	href="{{ asset('css/bootstrap3.3.css')}}" rel="stylesheet" type="text/css">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

	<!-- nouislider -->
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{asset('css/splide.min.css') }}"/>

	<!-- Font Awesome Icon -->
	<link
	rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
	{# link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}" #}
	<link type="text/css" rel="stylesheet" href="{{ asset('css/jssor.slider.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
	<link rel="icon" type="image/png" href="{{asset('images/'~boutique.logo)}}">
{% endblock %}
{% block body %}

	{% include 'boutique/dependancies/headershop.html.twig' %}

	{% if isHomeShop is same as (false) %}
		{% include "boutique/dependancies/articleInShop.html.twig" %}
	{% else %}
		<div id="echantillon_shop">
		<div class="splide">
		<div class="splide__track">
			<ul class="splide__list">
				{% for shop in shops %}										
					{% set wallpaper =  "#05c6e5" %}
					{% if shop.headers[0].name is defined %}
						{% set   wallpaper = "url("~asset('images/'~shop.headers[0].name)~")"  %}
					{% endif %}
				<li class="container_wallpaper_shop splide__slide" style="background: {{wallpaper}}">
						<div class="container_detail_shop">
						   
						   		<div  class="container_detail_shop_logo" style="background: url('images/{{shop.logo}}'">
								</div>
								<h4 style="background: white;padding: 5px 10px;">{{ shop.name }}</h4>
						   

						   
						   		
									<p>{{ shop.apropos }}</p>
								
								<div>
									<a class="link_sshop" href="{{path('shop',{'id' : shop.id, 'type' : shop.type})}}">Nous Visiter ? </a>
									&nbsp<a style="cursor: pointer;text-decoration: none !important;" href="{{shop.link}}">Sur notre site</a>
								</div>
						   <
							
							
						</div>				     
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
		    
			{# <div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div
						class="row">
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div
									class="products-tabs">
									<!-- tab -->
									<div id="tab2" class="tab-pane fade in active">
										<div
											class="products-slick" data-nav="#slick-nav-2">
											<!-- shop slide -->
											 
											{% for shop in shops %}
												{% include "boutique/dependancies/list_shops_slide_galery_marchande.html.twig" %}
											{% endfor %}

											<!-- /product -->
										</div>
										<div id="slick-nav-2" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container --> #}
			</div>
		</div>
		<div class="bol1">
		</div>
		<h3 style="text-align: center;background: white;margin: 0;">TROUVER UNE BOUTIQUE</h3>
		<div id="container_map">
			<div id="search_shop">

				<input type="text" id="search_in_map" class="form-control" placeholder="Recherche boutique" name="q">
				<p>
					<span>
						<span id="nbr_result">
							{{ shops| length }}
						</span>
						RESULTAT(S)</span>
					<button id="geolocate_me">Me geolocalise</button>
				</p>

				<div id="container_list_shop">
					{% include "boutique/dependancies/list_shop_galery_marchande.html.twig" %}
				</div>
			</div>
			<div id="map"></div>
		</div>

		<div id="echatillon_shops">

			{% set i = 0 %}

			{% for key in rangeEchantillon|keys %}
			   
				{% set i = i + 1 %}
				{% if i < 5 %}
					{% if i % 2 == 0  %}

						<a class="__" href="{{ path('shop',{'id': shops[rangeEchantillon[key]].id, 'type' : shops[rangeEchantillon[key]].type })}}">
							<div class="datail_echantillon_shops">
								<h2>{{ shops[rangeEchantillon[key]].name }}</h2>
								<h3>
									{{ shops[rangeEchantillon[key]].slogan}}
								</h3>
								<p>
									{{ shops[rangeEchantillon[key]].apropos }}
								</p>
							</div>
							<div class="image_echatillon_shop">
								<img src="{{asset('images/'~shops[rangeEchantillon[key]].logo)}}">
							</div>
						</a>
					{% else %}
						<a class="__2" href="{{ path('shop',{'id': shops[rangeEchantillon[key]].id, 'type' : shops[rangeEchantillon[key]].type })}}">
							<div class="image_echatillon_shop">
								<img src="{{asset('images/'~shops[rangeEchantillon[key]].logo)}}">
							</div>
							<div class="datail_echantillon_shops">
								<h2>{{ shops[rangeEchantillon[key]].name }}</h2>
								<h3>
									{{ shops[rangeEchantillon[key]].slogan}}
								</h3>
								<p>
									{{ shops[rangeEchantillon[key]].apropos }}
								</p>
							</div>

						</a>

					{% endif %}
				{% endif %}

			{% endfor %}
		</div>
	{% endif %}


	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}

	{% include 'boutique/dependancies/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="{{ asset('js/config-leaflet.js') }}"></script>
	<script src="{{ asset('js/slick.min.js') }}"></script>
	<script src="{{ asset('js/splide.js') }}"></script>
	<script>
		new Splide( '.splide',{
			type   : 'loop',
			pagination : false,
			autoplay: true,
			interval : 5000,
			pauseOnHover: true
		} ).mount();
	</script>

	<script src=" {{ asset('js/nouislider.min.js') }}"></script>
	<script src="{{ asset('js/jquery.zoom.min.js') }}"></script>
	<script src="{{ asset('js/index.js') }}"></script>
	<script src="{{ asset('js/jssor.slider.min.js') }}"></script>
	<script src="{{ asset('js/jssor.config.js') }}"></script>
	<script src="{{ asset('js/cart.js') }}"></script>
	<script src="{{ asset('js/connexion.js') }}"></script>
	<script src="{{ asset('js/shop.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

