{% extends "base.html.twig" %}

{% block title %}
	{{ boutique.name }}
{% endblock %}

{% block stylesheets %}
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
   
    <link href="{{ asset('css/bootstrap5.0.css')}}" rel="stylesheet" type="text/css">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/indexmenu.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/slideindexvote.css') }}"/>
{% endblock %}


{% block body %}
	<div id="image_header">
		{% if header_image %}
			<img src="{{asset('images/'~header_image)}}"/>
		{% endif %}

	</div>
	{#  navbar #}
	
	{% include "boutique/menu.twig" %}
	{#{% include "boutique/index.navbar.html.twig" %}#}

	<div id="container_echatillon"> 
	<div class="inother-ajax">
               <div class="div-inother"></div>
    </div>
  	{#<div class="col-md-2">
	   <div id="menu_detail">
	   </div>
	</div>
	#}
	<div class="_container_all_echantillon">
		<div class="manu-close-bnt">
				<div class="mobile-header--left">
                            <a href="#mobile-menu-offcanvas" class="mobile-menu offcanvas-toggle">
                                <span class="mobile-menu-dash-index"></span>
                                <span class="mobile-menu-dash-index"></span>
                                <span class="mobile-menu-dash-index"></span>
                            </a>
                        </div>
				<h4 class="title"></h4>
				<button class="remove btn btn-danger "><span class="fa fa-times"></span></button>
		</div>
	     <div class="_container_echatillon">
	     	<h4 align='center'> Recherche des resultats </h4>
	     </div>
		 <div id="divider"></div>
	     <div class="_boutiqueContaintEchantillon">
	     	
	     </div>
	</div>
</div>

	{% include "boutique/menumode.html.twig" %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 col-md-2 left">
				<div id="grant">
					<div id="liste_commentaire">
						<div class='liste_comment_data'></div>
					</div>
				</div>
			</div>
			<div
				class="col-sm-7 col-md-7 image_set_image">
				<!--SLIDER -->
				{% include "boutique/articleslideindex.html.twig" %}
			</div>
			<div class="col-sm-3 col-md-3 pub-video">
				<p id="p_video">Mon pub</p>
				<div class="pub_video_pub">
					<iframe width="100%" height="333px" src="https://www.youtube.com/embed/-YN612no" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class='commentaire_video'>
				
					{% if  app.user %}
										<img src="{{ asset('images/'~ app.user.avatar)}}" id="video-comment">
									{% else %}
										<img src="{{ asset('images/images_default/default_image.jpg')}}" id="video-comment">
									{% endif %}
					<form class='from-inline' id="ajout_video_commentaire">
						<input type="text" placeholder='Commentaire' name=""/>
						<button id="btn-video-comment">
							<span class="fa fa-paper-plane"></span>
						</button>
					</form>
				</div>
			</div>

			{#  list des pube video #}
			
		</div>
		{% include "boutique/pubvideo.html.twig" %}
	</div>
	<p></p>
	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}
	{% include "boutique/dependancies/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
	{#<script src="{{asset('js/jquery.js')}}"></script>
	<script src="{{asset('js/bootstrap.min.js')}}"></script>#}
	<script src="{{ asset('js/mousewheel.js') }}"> </script>
	<script src="{{ asset('js/connexion.js') }}"> </script>
	<script src="{{asset('js/index.js')}}"></script>
	<script src="{{asset('js/voteindex.js')}}"></script>
	<script src="{{asset('js/indexmenu.js')}}"></script>
{% endblock %}
