{% extends 'base.html.twig' %}

{% block title %}store{% endblock %}
{% block meta%}

{% endblock %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
   
    <link href="{{ asset('css/bootstrap5.0.css')}}" rel="stylesheet" type="text/css">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/store.css') }}"/>
{% endblock %}
{% block body %}
      {% include "boutique/dependancies/header.html.twig" %}
        <!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					
                    {#{% include "boutique/dependancies/section_product.html.twig" %}#}
                <div id="aside" class="col-md-2">
                   {#} {{ filtreCategory | raw }}#}
                </div>
                    {% include "boutique/dependancies/store.html.twig" %}
					
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
{% endif %}

{% include 'boutique/dependancies/footer.html.twig' %}      
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/slick.min.js') }}"></script>
        <script src=" {{ asset('js/nouislider.min.js') }}"></script>
        <script src="{{ asset('js/jquery.zoom.min.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        
{% endblock %}