{% extends "base.html.twig" %}

{% block title %}
	{{ boutique.name }}
{% endblock %}


{% block meta%}
	<meta name="description" content="{{ boutique.apropos}}">
{% endblock %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<link
	href="{{ asset('css/bootstrap5.0.css')}}" rel="stylesheet" type="text/css">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

	<!-- nouislider -->
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>

	<!-- Font Awesome Icon -->
	<link
	rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/offer.css') }}"/>

	<link rel="icon" type="image/png" href="{{asset('images/'~boutique.logo)}}">
{% endblock %}


{% block body %}
	{% include "boutique/dependancies/header.html.twig" %}


	<div id="container_offer" class="container">
		<h2>Nos Offres pour les entreprises en croissance.</h2>
		<p style="margin-bottom: 5rem;font-size: 12px;">Essayer gratuitement sans engagement, Pas de carte de crédit nécessaire</p>
		   {% for message in app.flashes('warning') %}
               <div class="alert alert-warning">
                   {{ message }}
               </div>
        {% endfor %}
		<div id="my_offer">
			<div class="offer">
				<h4>Don</h4>
				<p class="text-warning text-center">Testez gratuitement votre boutique</p>
	 			<p align="center"> <span class="fw-bold">Don</span>/mois</p>
				<hr>
				<div class="description">
				 Une page WEB inclus :
				 <p><span class="fa fa-check text-success"></span> &nbsp Insérer jusqu'à 10 produits vitrines</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer 2 articles</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer 3 liens dans "nos séléctions"</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer 4 références</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès Profil</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Acces back office</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Support client minimum</p> 

				</div>
			</div>
			<div class="offer">
				<h4>VIP</h4>
				<p class="text-primary text-center">Accès sans limitation</p>
				<p align="center"> <span class="fw-bold">25 €</span>/mois</p>
                <hr>
				<div class="description">
				   Une page WEB inclus : 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer des produits illimités </p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer des articles illimités</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insertion illimitéé dans "nos séléctions"</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer des références illimitées</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès profil</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès back office</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès à votre propre boite de message et notifications</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Une assistance fera des suivis hebdomadaires de votre page</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Visuel de votre activité dans la galerie marchande avec l'étoile VIP</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Visule de vote activité dans l'accueil</p> 
				</div>
                <hr>
				<div class="tarif">
					
					<a class="btn_offer" href="{{path('payment', {'offer': 'vip'})}}" style="display: block;">
						Me convient
					</a>
				</div>
			</div>
			<div class="offer">
				<h4>PREMIUM</h4>
     <p class="text-success text-center">Accès référencement SEO et visibilité Premium</p>
				<p align="center"> <span class="fw-bold">150 €</span>/mois</p>
				<hr>
				<div class="description">
				   Une page WEB inclus : 
				<p><span class="fa fa-check text-success"></span>&nbsp Insérer des produits illimités </p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer des articles illimités</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insertion illimitée dans "nos séléctions"</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Insérer des références illimitées</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès profil</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès back office</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Accès à votre propre boite de message et notifications</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Une assistance fera des suivis hebdomadaires de votre page</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Visuel de votre activité dans la galerie marchande avec l'etoile VIP</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Visuel de vote activité dans l'accueil</p> 
				 <p><span class="fa fa-check text-success"></span>&nbsp Assistance sur les référencement SEO, Création de vidéos youtube, community manage</p> 
				
				</div>
                <hr>
				<div class="tarif">
					
					<a class="btn_offer" href="{{path('payment', {'offer': 'premium'})}}" style="display: block;">
						Me convient
					</a>
				</div>
			</div>
		</div>
		<div class="my_security">
		   <div class="stop info_">
		   <span class="fa fa-stop-circle" style="font-size: 34PX;"></span >
		     Arrêtez quand vous voulez
		   </div>
		   <div class="paiement info_">
		   <span class="fa fa-lock" style="font-size: 34PX;"></span >
		     Paiement sécurisé
		   </div>
		</div>
	</div>

	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}
	{% include "boutique/dependancies/footer.html.twig" %}
	  
  	{# Abonnement #}
  

<div class="modal fade" id="my_offer_" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"style="z-index: 9999;">
  <div class="modal-dialog">
    <div class="modal-content">
	<form action="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close btn-close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	   	
	        <label for="name">Votre nom / Nom de l'entreprise</label>
			<input type="text" class="form-control" id="name" name="name" required>
			<label for="name">Email</label>
			<input type="email" id="name" class="form-control" name="email" required>
			
			 <label for="sujet">Sujet</label>
			 <select name="subject" id="sujet" class="form-control" required>
			     <option value="L'offre gratuit me convient, je désire m'abonné" class="free" selected>L'offre gratuit me convient, je désire m'abonné</option>
			     <option value="L'offre VIP me convient, je désire m'abonné" class="vip">L'offre VIP me convient, je désire m'abonné</option>
			     <option value="L'offre Premium me convient, je désire m'abonné" class="premium">L'offre Premium me convient, je désire m'abonné</option>
			 </select>
			 <label for="message" >Votre message</label>
			<Textarea  class="form-control" id="message"name="message"></Textarea>
	   	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close_modal" data-bs-dismiss="modal">Annulez</button>
        <button type="submit" class="btn btn-primary btn-submit">Envoyéz</button>
      </div>
	 </form>
	 
    </div>
  </div>
</div>
	{# #########"" #}
{% endblock %}
{% block javascripts %}
	{#<script src="{{asset('js/jquery.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>#}
	<script src="{{ asset('js/connexion.js') }}"></script>
	<script>
	   $(function() {
		   $('.btn_offer').on('click',function(e) {
			    e.preventDefault();
			    $('#my_offer_').modal('show');
		   });

		  
		   $('.btn-close_modal').on('click',function(e) {
			    e.preventDefault();
			    $('#my_offer_').modal('hide');
		   });

		   $('form').on('submit',function(e) {
			    e.preventDefault();

				 $.ajax({
					type: 'POST',
					contentType: false,
					processData: false,
					cache: false,
					dataType: 'json',
					data: new FormData(this),
					beforeSend: () => {
						toastr.info('Enregistrement en cours ;) ');
						$('.btn-submit').prop('disabled', true)
					},
					success: (data) => {
						toastr.success('Mail envoyée avec success ;) ');
						$('.btn-submit').prop('disabled', false)
						$(this)[0].reset();
						 $('#my_offer_').modal('hide');
					},
					error: () => {
						toastr.error('Erreur d\'enregistrement ');
						$('.btn-submit').prop('disabled', false)
					}
					});
			   
		   });
	   })
	</script>
{% endblock %}
