{% extends "base.html.twig" %}

{% block title %}
	{{ boutique.name }}
{% endblock %}


{% block meta%}
	<meta name="description" content="{{ boutique.apropos}}">
{% endblock %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<link
	href="{{ asset('css/bootstrap5.0.css')}}" rel="stylesheet" type="text/css">
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{{asset('css/slick.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css') }}"/>

	<!-- nouislider -->
	<link
	type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css') }}"/>

	<!-- Font Awesome Icon -->
	<link
	rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/offer.css') }}"/>

	<link rel="icon" type="image/png" href="{{asset('images/'~boutique.logo)}}">
{% endblock %}


{% block body %}
	{% include "boutique/dependancies/header.html.twig" %}


	<div id="container_offer">
		<h2>Choisissez votre Offre</h2>
		<p>Essayer gratuitement sans engagement, Pas de carte de credit nécessaire</p>
		<div id="my_offer">
			<div class="offer">
				<h4>FREE</h4>
				<hr>
				<div class="description"></div>
                <hr>
				<div class="detail"></div>
				<hr>
				<div class="tarif">
					0 €/ mois
				</div>
			</div>
			<div class="offer">
				<h4>VIP</h4>
                <hr>
				<div class="description"></div>
                <hr>
				<div class="detail"></div>
				<hr>
				<div class="tarif">
					10 €/mois
					<a class="btn_offer" href="{{path('payment', {'offer': 'vip'})}}" style="display: block;">
						Me convient
					</a>
				</div>
			</div>
			<div class="offer">
				<h4>PREMIUM</h4>
				<hr>
				<div class="description"></div>
                <hr>
				<div class="detail"></div>
				<hr>
				<div class="tarif">
					20 € / mois
					<a class="btn_offer" href="{{path('payment', {'offer': 'premium'})}}" style="display: block;">
						Me convient
					</a>
				</div>
			</div>
		</div>
	</div>
	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}
	{% include "boutique/dependancies/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
	{#<script src="{{asset('js/jquery.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>#}
	<script src="{{ asset('js/connexion.js') }}"></script>
{% endblock %}
