{% extends 'base.html.twig' %}

{% block title %}
	{% if boutique %}
		{{ boutique.name }}
	{% else %}
		Pas de resultat :(
	{% endif %}
{% endblock %}

{% block meta%}{% endblock %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link
	href="{{ asset('css/bootstrap3.3.css')}}" rel="stylesheet" type="text/css">
	<!-- Slick -->



	<!-- Font Awesome Icon -->
	<link
	rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
	<link
	type="text/css" rel="stylesheet" href="{{ asset('css/boutique.css') }}"/>
	{# link type="text/css" rel="stylesheet" href="{{ asset('css/index.css') }}" #}
	<link type="text/css" rel="stylesheet" href="{{ asset('css/jssor.slider.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/page.css') }}"/>
	<link rel="icon" type="image/png" href="{{asset('images/'~boutique.logo)}}">
{% endblock %}
{% block body %}
{% include "boutique/dependancies/_headershop.html.twig" %}

    <div class="container">
    {% if videos is defined %}
      <div id="container_video">
        {% if videos| length > 0  %}
        {% for video in videos %}
           <div class="col-md-12">
            <div class="container_video">
                 <h1>{{ video.title}}</h1>
                 <p>{{ video.description}}</p>
		     <iframe  width="100%" height="400px" class='list_video' src="{{ video.link}}" frameborder="0" scrolling="no"allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         </div>
        {% endfor %}
        {% else %}
           <h1>Pas de formation video disponible</h1>
        {% endif %}
         
      </div>
    {% elseif formations is defined %}
             <div class="row"> 
               {% if formations| length > 0 %}
                {% for formation in formations %}
                    <div class="col-md-3" style="margin-bottom: 13px;">
                    <div class="link_formation">
                        <div class="contanier_image_formation">
                            <img src="{{asset('images/'~formation.image)}}" alt="">
                        </div>
                        <div class="containt">
                            <h4>{{ formation.title}}</h4>
                            <div class="container_user">
                              <img src="{{asset('images/'~formation.user.avatar)}}" alt="">
                              <span>{{ formation.user.name }}</span>
                            </div>
                            <div class="container_rate_view">
                              {# <span>Note</span> #}
                              <span class="view">Vues {{ formation.view }}</span>
                            </div>
                            <div class="container_rate_view">
                              <span>{{formation.price | number_format(0, '', ' ')}} <sup>€</sup></span>
                              <a class="see" href="{{ path('view_formation', {'id' : formation.id , 'slug' : slugify(formation.title) } )}}">Voir</a>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                  <h1>Pas de formation disponible</h1>
                {% endif %}
             </div>
    {% endif %}
 </div>

	{% if not app.user%}
		{% include 'boutique/dependancies/connexion.html.twig'%}
	{% endif %}

	{% include 'boutique/dependancies/footer.html.twig' %}

{% endblock %}

{% block javascripts %}

	<script src="{{ asset('js/connexion.js') }}"></script>
{% endblock %}