{% extends 'base.html.twig' %}

{% block title %}Slider index{% endblock %}

{% block body %}
    <h1>Slider index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td>{{ slider.id }}</td>
                <td>{{ slider.image }}</td>
                <td>{{ slider.description }}</td>
                <td>
                    <a href="{{ path('slider_show', {'id': slider.id}) }}">show</a>
                    <a href="{{ path('slider_edit', {'id': slider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slider_new') }}">Create new</a>
{% endblock %}
