<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Toutenone {{ status_code }} {{ status_text }}</title>
	</head>
	<body>


		<div class="content">
			<canvas class="snow" id="snow"></canvas>
			<div class="main-text">
				<h1>Nous sommes désolés pour cet incident</h1>
				<div>
					<a class="home-link" href="{{path('index')}}">Accueil</a>
					<a class="home-link" href="{{path('shop')}}">Galery marchande</a>
				</div>
			</div>
			<div class="ground">
				<div class="mound">
					<div class="mound_text">{{ status_code }}
						{{ status_text }}</div>
				</div>
			</div>
		</div>

		<style>
			html,
			body {
				height: 100%;
				min-height: 450px;
				font-family: "Dosis", sans-serif;
				font-size: 32px;
				font-weight: 500;
                color: #5d7399;
                margin : 0 !important;
                padding : 0 !important;

			}

			.content {
				height: 100%;
				position: relative;
				z-index: 1;
				background-color: #d2e1ec;
				background-image: linear-gradient(to bottom, #2792f2 0%, #e8f2f6 80%);
				overflow: hidden;
			}

			.snow {
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
				z-index: 20;
			}

			.main-text {
				padding: 20vh 20px 0;
				text-align: center;
				line-height: 2em;
				font-size: 3vh;
			}

			.home-link {
                    font-size: 0.7em;
                    font-weight: 400;
                    text-decoration: none;
                    opacity: 0.6;
                    border-bottom: 1px dashed rgb(55, 72, 164);
					color: #191959;
					transition : 1000ms;
           }
		
			.home-link:hover {
				opacity: 1;
				font-size: 0.8em;
			}

			.ground {
				height: 160px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #f6f9fa;
				box-shadow: 0 0 10px 10px #f6f9fa;
			}
			.ground:before,
			.ground:after {
				content: "";
				display: block;
				width: 250px;
				height: 250px;
				position: absolute;
				top: -62.5px;
				z-index: -1;
				background: transparent;
				transform: scaleX(0.2) rotate(45deg);
			}
			.ground:after {
				left: 50%;
				margin-left: -166.6666666667px;
				box-shadow: -280px 320px 15px #8193b2, -610px 590px 15px #b0bccf, -940px 860px 15px #b0bccf, -1195px 1205px 15px #a4b1c8, -1540px 1460px 15px #94a3be, -1815px 1785px 15px #9dabc4, -2125px 2075px 15px #94a3be, -2395px 2405px 15px #8193b2, -2720px 2680px 15px #9dabc4, -2970px 3030px 15px #7e90b0, -3340px 3260px 15px #91a1bc, -3595px 3605px 15px #aab6cb, -3850px 3950px 15px #a7b4c9, -4205px 4195px 15px #8496b4, -4460px 4540px 15px #a4b1c8, -4820px 4780px 15px #8e9eba;
			}
			.ground:before {
				right: 50%;
				margin-right: -166.6666666667px;
				box-shadow: 320px -280px 15px #a1aec6, 585px -615px 15px #8798b6, 920px -880px 15px #b7c1d3, 1250px -1150px 15px #8e9eba, 1465px -1535px 15px #a1aec6, 1775px -1825px 15px #8798b6, 2105px -2095px 15px #9dabc4, 2355px -2445px 15px #adb9cd, 2660px -2740px 15px #a4b1c8, 3030px -2970px 15px #9dabc4, 3310px -3290px 15px #bac4d5, 3640px -3560px 15px #7e90b0, 3890px -3910px 15px #8e9eba, 4190px -4210px 15px #aab6cb, 4545px -4455px 15px #b7c1d3, 4830px -4770px 15px #adb9cd;
			}

			.mound {
				margin-top: -80px;
				font-weight: 800;
				font-size: 67px;
				text-align: center;
				color: #7d1717;
				pointer-events: none;
			}
			.mound_spade {
				display: block;
				width: 35px;
				height: 30px;
				position: absolute;
				right: 50%;
				top: 42%;
				margin-right: -250px;
				z-index: 0;
				transform: rotate(35deg);
				background: #dd4040;
			}
			.mound_spade:before,
			.mound_spade:after {
				content: "";
				display: block;
				position: absolute;
			}
			.mound_spade:before {
				width: 40%;
				height: 30px;
				bottom: 98%;
				left: 50%;
				margin-left: -20%;
				background: #dd4040;
			}
			.mound_spade:after {
				width: 100%;
				height: 30px;
				top: -55px;
				left: 0;
				box-sizing: border-box;
				border: 10px solid #dd4040;
				border-radius: 4px 4px 20px 20px;
			}
		</style>
		<script>
			(function () {
function ready(fn) {
if (document.readyState != "loading") {
fn();
} else {
document.addEventListener("DOMContentLoaded", fn);
}
}

function makeSnow(el) {
var ctx = el.getContext("2d");
var width = 0;
var height = 0;
var particles = [];

var Particle = function () {
this.x = this.y = this.dx = this.dy = 0;
this.reset();
};

Particle.prototype.reset = function () {
this.y = Math.random() * height;
this.x = Math.random() * width;
this.dx = Math.random() * 1 - 0.5;
this.dy = Math.random() * 0.5 + 0.5;
};

function createParticles(count) {
if (count != particles.length) {
particles = [];
for (var i = 0; i < count; i = i + 1) {
particles.push(new Particle());
}
}
}

function onResize() {
width = window.innerWidth;
height = window.innerHeight;
el.width = width;
el.height = height;

createParticles((width * height) / 10000);
}

function updateParticles() {
ctx.clearRect(0, 0, width, height);
ctx.fillStyle = "#f6f9fa";

particles.forEach(function (particle) {
particle.y += particle.dy;
particle.x += particle.dx;

if (particle.y > height) {
particle.y = 0;
}

if (particle.x > width) {
particle.reset();
particle.y = 0;
}

ctx.beginPath();
ctx.arc(particle.x, particle.y, 5, 0, Math.PI * 2, false);
ctx.fill();
});

window.requestAnimationFrame(updateParticles);
}

onResize();
updateParticles();

window.addEventListener("resize", onResize);
}

ready(function () {
var canvas = document.getElementById("snow");
makeSnow(canvas);
});
})();
		</script>
	</body>
</html>
