<div class="modal fade" id="ajout_article" tabindex="-1" role="dialog" aria-labelledby="ajout_modal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="label">Ajout d'article</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{{ form_start(form,{
                'attr':{
                        'class':'add_article_in_shop',
                        'action': path('article_list',{'category': category})
                     }
                 })
            }}
			<div id="div_ajout_article" class="modal-body row" style="font-weight:none;">

				{{ form_row(form.sous_category) }}
				{{ form_row(form.category,{ 'attr': {'value': category }})}}


				<div class="col-md-6">
					{{ form_row(form.name)}}
				</div>

				<div class="col-md-6">
					{{ form_row(form.quantity)}}
				</div>
				<div class="col-md-6">
					{{ form_row(form.marque)}}
				</div>
				<div class="col-md-6">
					{{ form_row(form.type)}}
				</div>
				<div class="col-md-6">
					{{ form_row(form.promo)}}
				</div>
				<div class="col-md-6">
					{{ form_row(form.wordKey)}}
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							{{ form_row(form.price)}}
						</div>
						<div class="col-md-4">
							{{ form_row(form.price_promo)}}
						</div>
						<div class="col-md-4">
							{{ form_row(form.price_global)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					{{ form_row(form.images,{'attr':{'required': true}})}}
				</div>
				<div class="col-md-12">
					{{ form_row(form.description)}}
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success submit_add_article margin-top-5 btn-submit" type="submit" name="submit_in">Ajouter</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
