<div 
   id="category-{{ category.id }}"
   data-parent="category-{{ category.parentid }}"
   class="listcategory"
 >
 <p>{{ category.name }}</p>
     <div>
          <button  data-parent = {{ category.id }} class="btn-action-cat edit_category">Editer</button>
   {% if category.parentid is same as(0)%}
          <button  data-parent = {{ category.id }} class="btn-action-cat add_category">Ajouter</button>
    {% endif %}
              <a href="{{ path('category_delete',{'type':category.type,'id': category.id })}}" class="delete_category">Supprimer</a>
    </div>
 </div>
 
 {% if category.children is defined %}
    <div style="margin-left : 40px;">
        {% for category in category.children %}
            {% include "admin/dependencies/_category.html.twig" with {'category': category } only %}
        {% endfor %}
    </div>
 {% endif %}
