{% set devise = "Ar"%}
<div class="row">
   {% for article in articles %}
    {% set price= article.price %}
    {% set old_price= article.pricePromo %}
    {%  set image =  article.images[0].name is defined ? article.images[0].name  : ""%}
    {# {% set price_global= article.price_global %} #}
    {% if article.promo is same as ("Promo")%}
         {% set price= article.pricePromo %}
         {% set old_price= article.price %}
         
    {% endif %}
    <div id={{"article_container_list_"~article.id}} class="col-ls-12 col-sm-6 col-md-4 ">
      <div class="container_list_article">
            <div class="container_image_list" {% if image is defined %} style="background-image: url({{asset('images/'~image)}})" {% endif %}>
              <div>
                <span class="star">{{article.votesarticle|length}} <i class="fa fa-star"></i></span>
                {% if article.promo is not same as('Normal')%}
                    <span class="promotion {{article.promo}}">
                            {{article.promo}}
                            {{promo(article.promo,article.price, article.pricePromo,null, true)}}
                    </span> 
                {% endif %}
              </div>
            </div>
            
            <div class="contaner_detail_list">
                <div>
                    <span class="categorie_list">#{{article.type}}</span>
                </div>
                <div class="name_article_list">{{article.name}}</div>
                <div class="price_article_list">
                    <span class="new_price">{{price|number_format(0,',',' ')}}  {{ devise }}</span>
                    {% if article.promo is same as('Promo') %}
                         <span class="old_price">{{old_price|number_format(0,',',' ')}} {{ devise }}</span>
                    {% endif %}
                </div>
                <div class="link_to_action_article_list">
                    <a class="view_article_detail " href="{{path('article_show',{'id': article.id})}}">Détail / édition</a>
                    <a class="delete_article_detail article_delete" data-id="{{article.id}}" href="#">Supprimer</a>
                </div>
            </div>
       </div>
    </div>
    {% endfor %} 
</div>