<div class="modal fade" id="ajout_article" tabindex="-1" role="dialog" aria-labelledby="ajout_modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="label">Ajout d'article</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{{ form_start(form, {'attr': {'class' : 'form_article','action': path('es_article_list',{'shop' : shop,'category': category,'sous_category': sous_category}) }}) }}
			<div id="div_ajout_article" class="modal-body row" style="font-weight:none;">
				<div class="col-md-4">
					<div class="preview_image">
						<img id="preview_image">
					</div>
				</div>
				<div class="col-md-8">
					<label>Photo</label>
					{{ form_widget(form.photos, {'attr': {'id' :'file_in', 'class':'file form-control'}}) }}
					{{ form_widget(form.sous_category, {'attr': {'class':'type_article_in'}}) }}
					{{ form_row(form.type,{'attr': {'class':'form-control'} }) }}
				</div>

			</div>
			<div class="modal-footer">
				<button id="submitformarticle" type="submit" class="btn btn-success btn-submit"> Enregistrer</button>
			</div>
			{{ form_end(form)}}
		</div>
	</div>
</div>
