      <div id="header_index" class="card border-left-success shadow py-2 images_header_admin" data-target="#add_header" style="height: 200px;">
         
        <img 
          src="{{asset('images/'~img_header)}}"
         />
        <div>
            <button class="btn btn-success btn-icon-split show_header">
                    <span class="icon text-white-50">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="text">Détail</span>
            </button>
            <button class="btn btn-primary btn-icon-split edit_header">
                    <span class="icon text-white-50">
                      <i class="fas fa fa-edit"></i>
                    </span>
                    <span class="text">Edité</span>
            </button>
           
            <button class="btn btn-danger btn-icon-split del_header" data-id=>
                    <span class="icon text-white-50">
                      <i class="fas fa fa-times"></i>
                    </span>
                    <span class="text">Supprimer</span>
            </button>
        
          {#  {% if id %}
            <button class="btn btn-danger btn-icon-split delete_header" data-id="{{ id }}" >
                    <span class="icon text-white-50">
                      <i class="fas fa fa-trash"></i>
                    </span>
                    <span class="text">Suppimer</span>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
            </button>
          {% endif %}
          #}
        </div>
  </div>
  <p></p>

 {% if "ROLE_ADMIN" in app.user.roles %} 
    <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Afficher les article</div>
                      <div class="switch-field">
                        <input type = "radio" id="radio-one" name="articleShow" value=1 
                         {% if boutique.showArticle is same as (null) or boutique.showArticle is same as (true) %}
                          checked
                        {% endif %}
                        />
                        <label for ="radio-one">Oui</label>
                        <input type = "radio" id="radio-two" name="articleShow" value=0  
                          {% if boutique.showArticle is same as (false) %}
                          checked
                          {% endif %}
                        />
                        <label for ="radio-two">Non</label>
                        <input type="hidden" class="boutique-id" value="{{ boutique.id}}"/>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Afficher les blogs</div>
                      <div class="switch-field">
                        <input type = "radio" id="blogShow-one" name="blogShow" value=1 
                         {% if boutique.showBlog is same as (true) %}
                             checked
                          {% endif %}
                        />
                        
                        <label for ="blogShow-one">Oui</label>
                        <input type = "radio" id="blogShow-two" name="blogShow" value=0 
                          {% if boutique.showBlog is same as (null) or boutique.showBlog is same as (false) %}
                             checked
                          {% endif %}
                        />
                       
                        <label for ="blogShow-two">Non</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nombre de visite</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                            {% if boutique.nbrOfVisitor is same as(null) %}
                              0
                             {% else %}
                              {{ boutique.nbrOfVisitor}}
                            {% endif %}
                            </div>
                        </div>
                        {#<div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          
                        </div>
                        #}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {#
          <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Blog en cours</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                          {{ peddingBlogs| length }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Blog en attente de validation</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                         {{ closedBlogs| length }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Blog validé </div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                             {{ validateBlogs | length }}
                            </div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          
                        </div>
                       
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div> #}
            <!-- Pending Requests Card Example -->
         {#   <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        #}
    </div>


<div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-bottom-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <span class="text-xs font-weight-bold text-success text-uppercase mb-1">Votre offre  est 
                 {{ boutique.getDetailOffer()}}
              </span>
            &nbsp<a href="{{path('my_offer')}}" target="_blank">Changer d'offre ?</a>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

{# <div id="header_show_menu" class="card border-left-success shadow h-100 py-2 images_header_admin">
       <img src="{{asset('images/'~header_menu)}}" />
  </div>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tout images</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Images header</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <a href="{{ path('article_liste')}}">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Article</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ articles|length }}</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
             </a>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Notification</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
#}

{% endif %}
<div id="container_cart">
  <h4>Enregistrer votre Coordonné</h4>
  <div id="container_long_lat">
      <div>
        <form action="" class="locate_me_form">
          <label for="logitude">Adresse</label>
            <textarea name="ville" id="ville" rows="5" class="form-control"></textarea>
          <label for="logitude">Longitude</label>
            <input type="text" id="longitude" name="longitude" class="form-control" 
             {% if boutique.longLat|length > 0%}
              value = "{{boutique.longLat['long']}}"
             {% endif %}
             required>
          <label for="logitude">Latitude</label>
            <input type="text" id="latitude" name="latitude"  class="form-control" 
            {% if boutique.longLat|length > 0%}
              value = "{{boutique.longLat['lat']}}"
             {% endif %}

            required>
            <button id="locate_me" type="button">Me localisé</button>
            <button class="btn btn-success" type="submit">Enregister</button>
        </form>
      </div>
      <div id ="map">
      </div>
  </div>
</div>
