<div class="row">
{% for page in pagesListes %}
	<div id="id-{{page.id}}"class="col-md-4 col-sm-6 col-xs-6 col-lg-4 " style="margin-top: 3px;">
     <a href="{{path('edit_formation', {'id': page.id })}}" >
		<div class="cart container_cart container_blog">
			<div class="cnt_image_date_bloc">
				<div class="container_image_blog">
					<img 
                     {% if page.image is not same as (null )%}
                        src="{{ asset('images/'~page.image)}}"
                     {% else %}
                        src="/images/images_default/default_logo.png"
                     {% endif %} 
                    alt="{{page.title}}">
				</div>
                <div class="date_blog">
                    <p>{{ page.createdAt|date('y') }}</p>
                    <p> {{ setMonth(page.createdAt|date('m')) }}</p>
                    <p>{{ page.createdAt|date('d') }}</p>
                   
                </div>
			</div>
            <h1 class="title_blog">{{ cutWorld(page.title,50) }}</h1>
            <p class="_description_blog">{{ cutWorld(page.resume,100) }}
		</div>
	</div>
    </a>
{% endfor %}