<div>
	<p>
		<button class="btn btn-success add_animation add_reference">Ajout</button>
	</p>
</div>


<div class="scrol_slide_animation">

	{% for reference in references %}
		<div id="{{reference.id}}" class="slide_animation">
			<img class="image_slider_to" src="{{asset('images/'~reference.images)}}">
			<div>
				<p id="{{'description'~reference.id}}">
					{{ reference.description }}
				</p>
			</div>
			<span class="dropdown-divider"></span>
		 <div style="display: grid; grid-template-columns: 1fr 1fr">
			<a class="btn btn-primary" href="{{ path('reference_edit',{'id':reference.id})}}">
				Editer
			</a>
			<button class="btn btn-danger delete_reference" data-idreference="{{reference.id}}">
				Supprimer
			</button>
		</div>
		</div>
	{% endfor %}
</div>
