Utilisateur inscrit {{ users|length }}
{% for user in users %}
    {% set avatar = "images_default/default_image.jpg"%}

    {% if user.avatar is defined %}
            {% set avatar = user.avatar  %}
    {% endif %}
    <div class="container_user">
            <div class="_container_image_user">
                <img src="{{asset('images/'~avatar)}}" alt="">
            </div> 
             <div class="container_detail_user">
                    <h4 style="color: black;font-weight: bold;">{{ user.name }}&nbsp{{ user.firstName }} </h4> 
                    <span style="font-size: 11px;">Depuis {{ user.createdAt|date('d-m-Y')}}</span>
             </div>
             <div style="display: flex;justify-content: end;align-items: end;"> 
                {# <span class="badge badge-warning" style="position: cursor;cursor: pointer;"></span> #}
                <form action="" class="send_mail">
                    <textarea name="description" id=""  rows="1" class="form-control"placeholder="Envoyer un mail"></textarea>
                    <input type="hidden" value={{ user.email}} name="email">
                    <span class="badge badge-success message-in" name="{{user.id}}" style="position: cursor;cursor: pointer;">Envoyée un message</span>
                    <button type="submit" class="btn btn-primary" style="padding: 0px 5px;font-size: 12px;font-weight: bold;">Envoyée mail</button>
                </form>
             </div>
    </div>
{% endfor %}
